.order {
  margin-bottom: 24rpx;
  padding: 24rpx 0;
  background-color: #fff;
  &-bottom {
    padding: 0 24rpx;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &-top {
    margin-bottom: 24rpx;
    padding: 0 24rpx 12rpx;
    border-bottom: 1px solid $c-border;
    &-shipping {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24rpx;
      font-size: 24rpx;
      color: $c-gray;
    }
  }
  &-bottom {
    margin-top: 24rpx;
    padding-top: 12rpx;
    font-size: 24rpx;
    border-top: 1px solid $c-border;
    &-date {
      color: $c-gray;
    }
    &-price {
      color: $c-price;
      text:last-child {
        font-size: 40rpx;
        font-weight: bold;
      }
    }
  }
  &-comment {
    padding: 24rpx;
    text {
      color: $c-gray;
    }
  }
}

.product-row {
  padding: 0 24rpx;
}

.product-row + .product-row {
  margin-top: 24rpx;
}

.bottom-btn {
  margin: 24rpx 24rpx 0 0;
  display: flex;
  justify-content: flex-end;
  u-button + u-button {
    margin-left: 20rpx;
  }
}
