.product {
  width: 100%;
  padding: 24rpx;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  &-item {
    width: 330rpx;
    margin-bottom: 24rpx;
    display: flex;
    flex-direction: column;
    border-radius: 16rpx;
    overflow: hidden;
    background-color: #fff;
    &-name {
      padding: 16rpx;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &-bottom {
      width: 100%;
      padding: 0 16rpx 16rpx;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      &-price {
        color: $c-price;
        font-size: 40rpx;
        line-height: 30rpx;
        &::before {
          content: '￥';
          font-size: 24rpx;
        }
      }
      &-sold {
        color: $c-gray;
        font-size: 24rpx;
      }
    }
  }
}

.product-row {
  width: 100%;
  display: flex;
  position: relative;
  &-detail {
    width: calc(100% - 220rpx);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20rpx;
    &-name {
      margin-bottom: 20rpx;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &-quantity {
      display: flex;
      justify-content: space-between;
      color: $c-gray;
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
      &-price {
        color: $c-price;
        font-size: 40rpx;
        &::before {
          content: '￥';
          font-size: 24rpx;
        }
      }
    }
  }
}
