.description {
  width: calc(100% - 220rpx);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 40rpx;
  &-name {
    margin-bottom: 20rpx;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &-quantity {
    display: flex;
    justify-content: space-between;
    color: $t-gray;
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
    &-price {
      color: #fa3534;
      font-size: 40rpx;
      text {
        font-size: 24rpx;
      }
    }
  }
}
